@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fef4eb;
    --foreground: #2b2621;
    --card: #f1cba8;
    --card-foreground: #2b2621;
    --popover: #ffffff;
    --popover-foreground: #2b2621;
    --primary: #d18540;
    --primary-foreground: #fefcf4;
    --secondary: #f4f1e7;
    --secondary-foreground: #402210;
    --muted: #f4f1e7;
    --muted-foreground: #695d41;
    --accent: #f4f1e7;
    --accent-foreground: #402210;
    --destructive: #ff6e4d;
    --destructive-foreground: #fefcf4;
    --border: #eae5e0;
    --input: #eae5e0;
    --ring: #d18540;
    --radius: 0.5rem;
  }

  .dark {
    --background: #2b2621;
    --foreground: #fef4eb;
    --card: #35291f;
    --card-foreground: #fefcf4;
    --popover: #2b2621;
    --popover-foreground: #fefcf4;
    --primary: #f9a946;
    --primary-foreground: #fefcf4;
    --secondary: #3c3026;
    --secondary-foreground: #fefcf4;
    --muted: #3c3026;
    --muted-foreground: #988d7b;
    --accent: #3c3026;
    --accent-foreground: #fefcf4;
    --destructive: #d44234;
    --destructive-foreground: #fefcf4;
    --border: #3c3026;
    --input: #3c3026;
    --ring: #f9a946;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
